[Unit]
Description=Temperature/Humidity sensor service for DHT
After=syslog.target network.target

[Service]
Type=simple
RuntimeDirectory=/var/run/sensors
ExecStart=/usr/local/bin/sensor-dhtd
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
